<script>

    var
        data = {}
    ;

    $(function() {
        var
            urlParts = location.pathname.split('/'),
            $prevLink = $('#prev-link'),
            $nextLink = $('#next-link'),
            $prevButton = $prevLink.find('button'),
            $nextButton = $nextLink.find('button'),
            prevId,
            nextId
        ;

        // All next/previous logic will have to be re-assessed if we allow tiers.
        if (urlParts[3]) {
            var
                $selectedMenuLink = $('.sidebar-section').find('li[data-id="' + urlParts[3] + '"]'),
                $previousMenuLink = $selectedMenuLink.prev(),
                $nextMenuLink = $selectedMenuLink.next()
            ;

            if ($previousMenuLink.length > 0) {
                prevId = $previousMenuLink.data('id');
            }
            else {
                prevId = 0;
            }

            if ($nextMenuLink.length > 0) {
                nextId = $nextMenuLink.data('id');
            }
            else {
                nextId = 0;
            }

            if (prevId === 0) {
                $prevButton.html('<span class="icon-home"></span> Home');
                $prevLink.attr('href', '/');
            }
            else {
                $prevLink.attr('href', '/courses/' + urlParts[2] + '/' + prevId);
            }

            if (nextId === 0) {
                $nextButton.html('Home <span class="icon-home"></span>');
                $nextLink.attr('href', '/');
            }
            else {
                $nextLink.attr('href', '/courses/' + urlParts[2] + '/' + nextId);
            }

            $selectedMenuLink.addClass('selected');

        }
        else {
            // Select the relevant item from the list.
            var
                $firstLink = $('.sidebar-section').find('li').first()
            ;

            nextId = $firstLink.next().data('id');

            $firstLink.addClass('selected');
            $prevButton.html('<span class="icon-home"></span> Home');
            $prevLink.attr('href', '/');
            $nextLink.attr('href', '/courses/' + urlParts[2] + '/' + nextId);

        }

        // Shows or hides the submenu when the drawer link is clicked.
        $('.sidebar-drawer').on('click', function(ev) {
            var
                $parent = $(ev.target).closest('li'),
                $submenu = $parent.find('ul')
            ;

            $submenu.toggle();
        });

        // Add a copy button to our code blocks so that people
        // can copy/paste the contents. We're adding it to the
        // Prism toolbar library to aid with placement, but Prism's
        // Clipboard plugin was buggy, so we're actually bypassing it.
        $('pre[class*="language-"]').each(function(index, target) {
            var toolbarString = '<div class="toolbar">' +
                                    '<div class="toolbar-item">' +
                                        '<button class="copy-button">Copy</button>' +
                                    '</div>' +
                                '</div>'
            ;

            $(toolbarString).appendTo(target);
        });


        // Our own clipboard.js implementation to copy code when
        // a copy button is pressed.
        $('.copy-button').each(function(index, button) {
            var clippy = new Clipboard(button, {
                target: function(trigger) {
                    return $(trigger).closest('pre').find('code')[0]
                }
            });

            clippy.on('success', function(ev) {
                var button = ev.trigger;

                // After the code block has been copied, we clear
                // the text selection that clipboard automatically performs
                // when it copies.
                ev.clearSelection();

                // And we temporarily change the button text to "Copied"
                button.textContent = 'Copied';

                // Then after 1.5s we switch it back to Copy.
                setTimeout(function () {
                    button.textContent = 'Copy';
                }, 1500);
            });

            // Error catching in case the copy functionality isn't working right.
            clippy.on('failure', function(ev) {
               alert('Clipboard error, please copy using ctrl + c instead.');
            });
        });

        $('a.toggle-menu').on('click', function(ev) {
            var
                $contentWrapper = $('#content-wrapper'),
                $sidebar = $('.sidebar'),
                $content = $('#content')
            ;

            // If the show-menu class is present already
            // when we toggle the menu, we will collapse
            // the sidebar...
            if ($contentWrapper.hasClass('show-menu')) {
                $contentWrapper.removeClass('show-menu');
                $content.addClass('col-md-10 col-md-offset-1');
                $sidebar.hide();
            }
            // ...Otherwise we will show the sidebar
            else {
                $contentWrapper.addClass('show-menu');
                $content.removeClass('col-md-10 col-md-offset-1');
                $sidebar.show();
            }
        });
    });

</script>