<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{#unless editPage}}
            {{rawCourseTitle}}
        {{else}}
            Editing - {{rawCourseTitle}}
        {{/unless}}
    </title>

    {{> links }}
</head>
<body>