<header class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a href="http://ciscolive.com" class="header-bar__logo">
            <span class="ciscolive-icon"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    Home Page!
                </h1>
            </div>
        </div>
        <div class="header-toolbar">
            <div class="row student-dropdown">
                <div class="col-md-12">
                    <div class="userLogon">
                        <form id="userData" method="post" action="/login">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <div class="form-group__text">
                                        <input type="text" id="username" name="username" class="form-control" />
                                        <label for="username">Username:</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="form-group__text">
                                        <input type="password" id="password" name="password" class="form-control" />
                                        <label for="password">Password:</label>
                                    </div>
                                </div>
                                <div class="col-md-3 save-button">
                                    <button type="submit" class="btn btn--primary">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>