<header class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a class="header-bar__logo">
            <span class="icon-cisco"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    Automate Your Hybrid Cloud Network
                </h1>
            </div>
        </div>
        <div class="header-toolbar">
            <a class="btn btn--small btn--icon"
               title="Physical Infrastructure Layout"
               data-toggle="modal"
               data-target="#physical_infrastructure"
                >
                <span class="icon-devices"></span>
            </a>
            <a class="btn btn--small btn--icon"
               title="Virtual Infrastructure Layout"
               data-toggle="modal"
               data-target="#virtual_infrastructure"
            >
                <span class="icon-cloud"></span>
            </a>
            <a class="btn btn--small btn--icon"
               title="Connection Information"
               data-toggle="modal"
               data-target="#connection_info"
            >
                <span class="icon-ethernet"></span>
            </a>
            <a class="btn btn--small btn--icon"
               title="Download PDF"
               href="/pdf"
            >
                <span class="icon-file-pdf-o"></span>
            </a>
        </div>
    </div>
</header>