<div class="sidebar">
    <div class="apollo-sidebar" style="position: relative; transform: none;">
        <div class="sidebar-header">
            <div class="sidebar-header__title">LTRCLD-2121</div>
        </div>
        <ul class="sidebar-section">{{{sidebarData}}}</ul>
    </div>
</div>