<div class="sidebar{{#if landingPage }} hidden{{/if}}">
    <div class="apollo-sidebar" style="position: relative; transform: none;">
        <div class="sidebar-header">
            <div class="sidebar-header__title"><a href="/courses/{{courseTitle}}" class="title-link">{{courseName}}</a></div>
        </div>
        <ul class="sidebar-section">{{{sidebarData}}}</ul>
    </div>
</div>