<div class="sidebar">
    <div class="apollo-sidebar" style="position: relative; transform: none;">
        <div class="sidebar-header">
            <div class="sidebar-header__title">Python Course</div>
        </div>
        <ul class="sidebar-section"></ul>
    </div>
</div>