<header class="header">
    <div class="header-bar container">
        <a class="btn btn--small btn--icon toggle-menu">
            <span class="icon-list-menu"></span>
        </a>
        <a href="http://ciscolive.com" class="header-bar__logo">
            <span class="ciscolive-icon"></span>
        </a>
        <div class="header-bar__main">
            <div class="header-heading">
                <h1 class="page-title">
                    Virtualize, Orchestrate, and Automate with Secure Agile Exchange
                </h1>
            </div>
        </div>
        <div class="header-toolbar">
            <div class="row student-dropdown">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <div class="form-group__text select">
                                <select id="student_select">
                                    <option value="0" selected>Select a Student</option>
                                    {{#each users}}
                                        <option value="{{this}}">Student {{this}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>