<div id="content-wrapper" class="show-menu">
    {{> sidebar }}
    <div class="content-body">
        {{> nav }}
        <div id="content" class="content">{{{content}}}</div>
    </div>
    {{> modals }}
</div>