<div id="content-wrapper" {{#if sidebarShown}}class="show-menu"{{/if}}>
    {{> sidebar }}
    <div class="content-body">
        {{> nav }}
        <div id="content" class="content{{#unless sidebarShown}} col-md-10 col-md-offset-1{{/unless}}">
            {{{content}}}
            <div id="traversal">
                <div class="btn-group btn-group-lg col-md-12" role="group">
                    <div class="pull-left">
                        <a id="prev-link" href="#">
                            <button type="button" class="btn btn-default">
                                <span class="icon-step-backward"></span>
                                Previous
                            </button>
                        </a>
                    </div>

                    <div class="pull-right">
                        <a id="next-link" href="#">
                            <button type="button" class="btn btn-default">
                                Next
                                <span class="icon-step-forward"></span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> modals }}
</div>