<div id="content-wrapper">
    {{> sidebar }}
    <div class="content-body">
        {{> splashnav }}
        <div id="content" class="content container-fluid">
            <div class="hero hero--loose hero--background-4 hero--filter-smoke">
                <div class="container">
                    <div class="col-md-12 hero__content">
                        <h1>LTRCLD-2121</h1>
                        <h1>
                            Virtualize, Orchestrate and Automate Your DMZ Extranet <br>
                            Internet, and Public Cloud Connections with Secure Agile Exchange!
                        </h1>
                        <p>
                            <strong>
                                Select a student ID from the dropdown above to continue
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        $('#student_select').on('change', function(ev) {
            var currentStudentId = $(ev.target).val();

            $.get('/login/' + currentStudentId, function(data) {
                window.location.replace('/courses/88343999344')
            });
        });
    }, false);
</script>