<div id="content-wrapper">
    {{> sidebar }}
    <div class="content-body">
        {{> splashnav }}
        <div id="content" class="content container-fluid">
            <div class="hero hero--loose hero--background-4 hero--filter-smoke">
                <div class="container">
                    <div class="col-md-12 hero__content">
                        <h1>{{courseName}}</h1>
                        <h1>
                            {{{title}}}
                        </h1>
                        <p>
                            <strong>
                                {{{instructions}}}
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        $('#student_select').on('change', function(ev) {
            var currentStudentId = $(ev.target).val();

            $.get('/login/' + currentStudentId, function(data) {
                // Loads the first section of the course.
                window.location.replace('/courses/{{courseTitle}}/__start')
            });
        });
    }, false);
</script>