
html, body, .container-fluid, .container-fluid .row {
    height: 100%;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 10pt;
}

div.note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #14a792;
    background-color: #dfdfdf;
}
div.note::before {
    content: 'Note!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #14a792;
    display: block;
}

div.important-note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #049fd9;
    background-color: #dfdfdf;
}
div.important-note::before {
    content: 'Important!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #049fd9;
    display: block;
}

div.warning-note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #cf2030;
    background-color: #dfdfdf;
}
div.warning-note::before {
    content: 'Warning!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #cf2030;
    display: block;
}

div.text-editor {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    width: 100%;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
}

div.text-editor > div.editor-title-bar {
    padding: 5px 5px;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #f2f2f2;
    border-bottom: #6a6a6a 1px solid;
    color: #58585b;
}

div.text-editor > pre.editor-body {
    min-height: 120px;
    background-color: #000;
    color: #f0f0f0;
    padding: 10px 25px;
    text-shadow: #000 0 1px 0;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    font-size: .7em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    margin: -1px;
}

pre {
    background-color: #39393b;
    color: #fff;
    padding: 3pt;
    font-size: .7em;
}

pre[class*=language-] {
    padding: 0;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
    border: none;
    width: 100%;
}

code[class*=language-] {
    width: 100%;
    padding: 20px;
    display: block;
    background-color: #39393b;
    color: #fff;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
}
table.table--bordered {
    border: 1px solid #dfdfdf;
    margin-bottom: 0;
    width: 100%;
    border-spacing: 0;
    background-color: transparent;
    border-collapse: collapse;
}

.table>thead>tr>th {
    vertical-align: bottom;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
}

.table--bordered td {
    border-right: 1px solid #dfdfdf;
}

.table--bordered td {
    border-right: 1px solid #f2f2f2;
}

table > thead > tr {
    background-color: #58585b;
    color: #f2f2f2;
}

.table th {
    position: relative;
    text-align: left;
}

.table--bordered td:last-child {
    border-right: 0 none;
}

.table--bordered th:last-child {
    border-right: 0 none;
}

.table tr, .table td, .table th {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5.25px 10.5px;
    vertical-align: middle;
}

p {
    line-height: 1.6;
}

.table tr, .table td, .table th {
    white-space: normal;
}

.table tr:first-child, .table td:first-child, .table th:first-child {
    width: inherit;
}

div.row.student-dropdown {
    margin-left: .8em;
    margin-right: .8em;
}

a.title-link {
    font-size: .9em;
}

.table tr td:first-child, .table tr th:first-child {
    border-left: 1px solid #dfdfdf;
}



.un-cramp {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.hero.hero--loose.hero--background-4 {
    min-height: 600px;
}

div.hero__content {
    margin-top: 15%;
}

div.show-menu div.header-bar {
    width: 100%;
}

div.modal-footer > button.dismiss {
    margin-top: 1.2em;
}

div#physical_infrastructure > div.modal-dialog,
div#virtual_infrastructure > div.modal-dialog {
    width: 100%;
}

pre.code-toolbar > .toolbar {
    right: 2em;
    min-width: 4rem;
}

pre.code-toolbar > .toolbar .toolbar-item {
    width: 4rem;
}

div.toolbar > div.toolbar-item > button.copy-button {
    padding: 3.5px 5px;
    width: 4rem;
    border: 1px solid #ddd;
    color: #333;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: transparent;
    box-shadow: inset 0.5px 0.3px 0.3px #4c4c4c, inset 0.5px 0.5px 0.3px #4c4c4c;
}

div.toolbar > div.toolbar-item > button.copy-button:hover {
    box-shadow: unset;
    border: .1px solid #888;
}

div#traversal {
    margin-top: 2em;
}

div#traversal span[class*="icon-"] {
    padding-left: .5em;
    padding-right: .5em;
}

li.sidebar-drawer--opened.selected > ul > li > a {
    box-shadow: none;
    background-color: inherit;
}

h2 {
    color: #049fd9;
}

h1 {
    background-color: #58585b;
    color: #fff;
    padding: 20px 5px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
}

section {
    page-break-after: always;
}

table td,
table th {
    font-size: 10pt;
}

table,
.warning-note,
.note,
.important-note,
pre,
img {
    page-break-inside: avoid;
}