.headspace.panel-default {
    min-height: 50px;
    margin-top: 25px;
}

.leading-data .panel-default {
    min-height: 200px;
}

div.jqtree_element.jqtree_common:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

div.jqtree-element.jqtree_common {
    color: #428bca;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

ul.dropdown-menu > li > a {
    color: #428bca;
    background-color: #fff;
}

ul.dropdown-menu > li:hover > a {
    color: #2a46a1;
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover,
ul.jqtree-tree li.jqtree-selected > .jqtree-element span.jqtree-title.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover span.jqtree-title.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element a.jqtree-toggler.jqtree_common,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover a.jqtree-toggler.jqtree_common {
    text-shadow: none;
    background: none;
    background-color: #428bca;
    color: #fff;
}

a.jqtree-toggler.jqtree_common {
    color: #428bca;
}

a.jqtree-toggler.jqtree_common:hover {
    color: #2a46a1;
}

span.jqtree-title.jqtree_common {
    color: #428bca;
}

#nodeData {
    display: none;
}

ul.variables > li {
    cursor: pointer;
}

ul.variables > li:hover {
    background-color: #eee;
}

.navbar {
    margin-bottom: 0;
}

html, body, .container-fluid, .container-fluid .row {
    height: 100%;
}

nav a.jqtree-toggler.jqtree_common {
    color: #555;
}

nav a.jqtree-toggler.jqtree_common:hover {
    color: #555;
}

nav span.jqtree-title.jqtree_common {
    color: #555;
}

nav div#tree {
    margin-top: 10px;
}

div.show-menu div.content-body,
div.show-menu div.content {
    padding-left: 280px;
}

input.form-control:focus {
    border: none;
    outline:0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
    font-family: "CiscoSans", "Arial", sans-serif;
}

div#content {
    padding: 2em;
}

div.note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #049fd9;
    background-color: #dfdfdf;
}
div.note::before {
    content: 'Important!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #049fd9;
    display: block;
}

div.warning-note {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 7px solid #cf2030;
    background-color: #dfdfdf;
}
div.warning-note::before {
    content: 'Warning!';
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #cf2030;
    display: block;
}

div.text-editor {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 15px 70px;
    clear: both;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

div.text-editor > div.editor-title-bar {
    padding: 5px 0;
    font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 400;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgba(255, 255, 255, 0.7) 0 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}

div.text-editor > pre.editor-body {
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.85);
    color: #f0f0f0;
    padding: 10px;
    text-shadow: #000 0 1px 0;
    font-family: "Consolas", "Courier New", "Courier", sans-serif;
    font-size: 1.75em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: -1px;
}

div.text-editor > pre.editor-body.bash::before {
    content: "$ ";
}

table.table--bordered {
    margin-bottom: 0;
}

p {
    line-height: 1.6;
}

.table tr, .table td, .table th {
    white-space: normal;
}

.table tr:first-child, .table td:first-child, .table th:first-child {
    width: inherit;
}

div.row.student-dropdown {
    margin-left: .8em;
    margin-right: .8em;
}